Marie Johansen <majoh@itu.dk> Marie Johansen <majoh@itu.dk>
Charlotte Planteig <cpla@itu.dk> Charlotte <cpla@itu.dk>
Charlotte Planteig <cpla@itu.dk> <charlotte.planteig@hotmail.com>
Frederik Petersen <frap@itu.dk> Frederik Anker Hørup Petersen <93933920+tropaadigselv@users.noreply.github.com>
Nikolej Lundquist <nivl@itu.dk> Nikolej <nivl@itu.dk>
Nikolej Lundquist <nivl@itu.dk> nikolej <nikolejlundquist@gmail.com>
Sara Bagger <salb@itu.dk> Sara <salb@itu.dk>
Sara Bagger <salb@itu.dk> <github@saralouise.dk>
Vitus Brodersen <vitb@itu.dk> V0idshock <vitb@itu.dk>
Vitus Brodersen <vitb@itu.dk> <vitusbrodersen@gmail.com>
github-actions[bot] <github-actions[bot]@users.noreply.github.com>
LLM <none> ChatGPT
