# .mailmap aliases for canonical author names
# Comments are supported with # at the start of a line.
# Marie Johansen <majoh@itu.dk> is already canonical and does not require mapping.
Charlotte Planteig <cpla@itu.dk> Charlotte <cpla@itu.dk>
Charlotte Planteig <cpla@itu.dk> <charlotte.planteig@hotmail.com>
Frederik Petersen <frap@itu.dk> Frederik Anker Hørup Petersen <93933920+tropaadigselv@users.noreply.github.com>
Nikolej Lundquist <nivl@itu.dk> Nikolej <nivl@itu.dk>
Nikolej Lundquist <nivl@itu.dk> nikolej <nikolejlundquist@gmail.com>
