# .mailmap aliases for canonical author names
# Comments are supported with # at the start of a line.
# Marie Johansen <majoh@itu.dk> is already canonical and does not require mapping.
Charlotte Planteig <cpla@itu.dk> Charlotte <cpla@itu.dk>
Charlotte Planteig <cpla@itu.dk> <charlotte.planteig@hotmail.com>
