@model MiniTwit.Web.Pages.Shared.TimelineBaseModel

@if (User.Identity!.IsAuthenticated)
{
    <div class="CheepBox">
        <h3>What's on your mind @(Model.DisplayName)?</h3>

        <form method="post" asp-page-handler="TimelineBaseModel" asp-antiforgery="true">
            <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
            <input style="float: left; width: 90%;" type="text" asp-for="CheepText">
            <input style="width: 8%; margin-left: 1%" type="submit" value="Share">
            <span asp-validation-for="CheepText"></span>
        </form>

        @if (!string.IsNullOrEmpty(Model.StatusMessage))
        {
            <div style="color: green">
                <p>
                @Model.StatusMessage
                </p>
            </div>

        }
        <p style="color: red;">@Model.ErrorMessage</p>
    </div>
}
  
